body {
  background: url(/uploads/bear.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.main-inner {
  opacity: 0.9;
}

.sidebar {
  opacity: 0.9;
}

.header {
  background: rgba(255, 255, 255, 0.9);
}
